<div class="app-layout">
  <div class="app-layout-content">
    <div class="app-map-view"></div>
  </div>
  <div class="app-layout-control">
    <button [routerLink]="['/', 'file']" [routerLinkActive]="'active'">
      <i nz-icon nzType="file" nzTheme="outline"></i>
    </button>
    <button [routerLink]="['/', 'document']" [routerLinkActive]="'active'">
      <i nz-icon nzType="file-text" nzTheme="outline"></i>
    </button>
  </div>
  <div class="app-layout-side">
    <router-outlet></router-outlet>
  </div>
</div>